@font-face{
    font-family: myfont;
    src: url(2.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: myfont;
  }
  body{
    background: url(../images/original.gif);
    background-size: cover;
  }
  .template{
    overflow: hidden;
  }

  #canvas {
    background: url(../images/gamebg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    max-height: 664px;
    background-color: blue;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow:0px 0px 15px 15px rgb(119, 233, 248);
  }

  #container {
    width: 90%;
    height: 90%;
    /* background-color: yellow; */
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
  }

   /* .background {
    width: 30%;
    height: 485px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }  */
  

  .template img {
    width: 30%;
    height: 78%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
  }
  

  .template #header, #pause-header {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: xx-large;
    color: #e3f5f4;
    /* color: #e84545; */
  }

  #Play, #Exit{
    margin-bottom: 2.2%;
  }

  #easy,
  #medium,
  #hard {
    font-size: x-large;
    position: absolute;
    right: 0;
    left: 0;
    top: 32%;
    background-color: azure;
    width: 24%;
    margin: auto;
    border-radius: 12px;
    padding: 1%;
  }
#difficulty  p:not(#header):hover{
  box-shadow:0px 0px 15px 0px red;
  color: red;
  cursor: pointer;
}

  #medium {
    top: 325px;
  }

  #hard {
    top: 442px;
  }

  #sound, #music, #ok, #mute{
    width: 75px;
    height: 75px;
    cursor: pointer;
  }

  #sound{
    position: absolute;
    top: -165px;
    left: -17%;
  }
  #music{
    position: absolute;
    top: 75px;
    left: -17%;
  }

  #ok{
    position: absolute;
    top: 355px;
  }

  #mute{
    position: absolute;
    top: 0;
  }
  /* #settings{
    position:fixed;
  } */
  #settings p{
    left: 48%;
    font-size: x-large;
    color: red;
    position: absolute;
  }
  #settings img:hover + p:not(#header){
    box-shadow:10px 0px 25px 5px #e3f5f4;
    font-size: 30px;
    padding: 0.2%;
    border-radius: 8px;
    cursor: pointer;
  }
  #sound_btn{
    top: 226px;
  }
  #music_btn{
    top: 350px;
  }

  /* #pause-header {
    position: absolute;
    top: 106px;
    right: 0;
    left: 0;
    margin: auto;
    width:13%;
  } */
  #score-box {
    position: absolute;
    top: 0%;
    right: 0;
    left: 0;
    margin: auto;
    width:23%;
    height: 90px;
  }

  #score-content{
    position: absolute;
    top: 46%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: xx-large;
    color: white;
    

  }

  #score-p{
    position: absolute;
    top: 28%;
    right: 0;
    left: 0;
    margin: auto;
    width: 26%;
    font-size: xx-large;
    font-family: myfont;
    color: white;
  }

  .icon{
    width: 75px;
    height: 75px;
  }
  
  #how-to-play #how-menu-btn {
    width: 75px;
    height: 75px;
    position: absolute;
    right: 0;
    top: 52%;
    cursor: pointer;
 
  }
  
  #restart-img, #setting-img, #menu-img, #close-img{
    width: 75px;
    height: 75px;
    position: absolute;
    right: 865px;
    top: 52%;
    cursor: pointer;
  }

  #restart-img {
    left: 36.5%;
  }
  #setting-img {
    left: 43.5%;
  }
  #menu-img {
    
    left: 50.5%;
    
  }
  #close-img {
    left: 57.5%;
  }
  #game-img{
    position: absolute;
    right: 0;
    left: 0;
    top:16%;
    background-image: url("gameimg.jpg");
    background-size: contain;
    width: 23%;
    height: 150px;
    margin: auto;
    border-radius: 12px;
    padding: 1%;
  }
  #game-steps{
    position: absolute;
    right: 0;
    left: 0;
    top:48%;
    background-color: lightcoral;
    width: 23%;
    margin: auto;
  }
  #game-steps ul li{
    text-align: initial;
  }
  #how-to-play #menu-img {
    left: 0;
    right: 0;
    margin: auto;
  }